.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(246, 245, 248, 0.575);
    width: 50%;
    margin: 0 auto;
    min-height: 600px;
    margin-top: 40px;
}

body {
    background-color: rgba(205, 175, 230, 0.493);
}


ul {
    background-color: rgb(247, 206, 255);
    border-radius: 15px;
    padding: 0.5em;
}


li:last-child {
    border-bottom: none;
}

.button-agregar {
    font-size: 16px;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    will-change: box-shadow, transform;
    background: rgb(131, 58, 180);
    background: linear-gradient(90deg,
            rgba(131, 58, 180, 1) 0%,
            rgb(245, 29, 253) 50%,
            rgb(252, 69, 109) 100%);
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
        0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
        inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    padding: 0 2em;
    border-radius: 15px;
    color: #f8d8f6;
    height: 2.6em;
    text-shadow: 0 1px 0 rgb(0 0 0 / 40%);
    transition: box-shadow 0.15s ease, transform 0.15s ease;
}

.button-agregar:hover {
    box-shadow: 0px 0.1em 0.2em rgb(45 35 66 / 40%),
        0px 0.4em 0.7em -0.1em rgb(45 35 66 / 30%),
        inset 0px -0.1em 0px rgba(111, 58, 58, 0.5);
    transform: translateY(-0.1em);
}

.button-agregar {
    box-shadow: inset 0px 0.1em 0.6em #c53ce0;
    transform: translateY(0em);
}

.button-eliminar {
    width: 110px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #e62222;
}

.button-eliminar,
.button-eliminar span {
    transition: 200ms;
}

.button-eliminar .text {
    transform: translateX(10px);
    color: white;
    font-weight: bold;
}

.button-eliminar .icon {
    position: absolute;
    border-left: 1px solid #c41b1b;
    transform: translateX(70px);
    height: 40px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-eliminar svg {
    width: 15px;
    fill: #eee;
}

.button-eliminar:hover {
    background: #ff3636;
}

.button-eliminar:hover .text {
    color: transparent;
}

.button-eliminar:hover .icon {
    width: 90px;
    border-left: none;
    transform: translateX(5px);
}

.button-eliminar:focus {
    outline: none;
}

.button-eliminar:active .icon svg {
    transform: scale(0.8);
}

.button-completar {
    width: 120px;
    height: 35px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #0a8310;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
    background: #0a8310;
}

.button-completar,
.button-completar span {
    transition: 200ms;
}

.button-completar .text {
    transform: translateX(3px);
    color: white;
    font-weight: bold;
}

.button-completar .icon {
    position: absolute;
    border-left: 1px solid #045008;
    transform: translateX(75px);
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-completar svg {
    width: 20px;
    fill: #eee;
}

.button-completar:hover {
    background: #09b812;
}

.button-completar:hover .text {
    color: transparent;
}

.button-completar:hover .icon {
    width: 50px;
    border-left: none;
    transform: translateX(30px);
}

.button-completar:focus {
    outline: none;
}

.button-completar:active .icon svg {
    transform: scale(0.8);
}



input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: rgb(247, 206, 255);
    box-shadow: inset 2px 5px 10px rgba(213, 1, 255, 0.3);
    transition: 300ms ease-in-out;
    font-size: 16px;
    color: #860280;
    margin-top: 25px;
    width: 35vw;
}

input:focus {
    background-color: rgb(247, 206, 255);
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #9e04a3, -13px -13px 100px #ffffff;
}

input::placeholder {
    color: #86027f98;
}

.task-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    margin-bottom: 1em;
}

/* === removing default button style ===*/
.button {
    margin: 0;
    height: auto;
    background: transparent;
    padding: 0;
    border: none;
}

/* button styling */
.button {
    --border-right: 6px;
    --text-stroke-color: rgba(240, 11, 190, 0.986);
    --animation-color: #ff37f5;
    --fs-size: 2em;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: var(--fs-size);
    font-family: "Arial";
    position: relative;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px var(--text-stroke-color);
}

/* this is the text, when you hover on button */
.hover-text {
    position: absolute;
    box-sizing: border-box;
    content: attr(data-text);
    color: var(--animation-color);
    width: 0%;
    inset: 0;
    border-right: var(--border-right) solid var(--animation-color);
    overflow: hidden;
    transition: 0.5s;
    -webkit-text-stroke: 1px var(--animation-color);
}

/* hover */
.button:hover .hover-text {
    width: 100%;
    filter: drop-shadow(0 0 23px var(--animation-color))
}

.task-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:45vw;
}
.task-name {
    overflow: hidden;
    white-space: wrap;
    color: #860280;
    margin: 1em;
    font-size: larger;
}

.task-buttons{
    display: flex;
    align-items: center;
}
.task-buttons button{
    margin: 0 0.5em;
}